  {% extends "base.html" %}
  {% from "show_links.html" import show_links %}
  {% block title %}
  <title>Login page</title>
  {% endblock %}

  {% block jqueryscripts %}
    <script>
      $(document).ready(function() {
          $("#login").css("color","black");
          $("#login").html("<mark>Login</mark>")
      });
    </script>
  {% endblock %}
  {% block content %}
  <br>
  <div class="container theme-showcase" role="main">

        <div class="page-header">
          <h1>Login</h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
              <div class="well bs-component">
                <form class="form-horizontal" action="{{ url_for('users.login') }}" method="POST">
                  {{ form.csrf_token }}
                  <fieldset>
                    {{show_links(form.username) }}
                    {{ show_links(form.password) }}
                    <div class="form-group">
                      <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-info">Login</button>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>

      </div> <!-- /container -->
  </div>
  {% endblock %}